@import "tailwindcss";



@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@layer base {
  html {
    scroll-behavior: smooth; /* 丝滑跳转页面 */
  }
  body {
    @apply bg-black text-white; /* 必须是纯黑 bg-black */
  }
  * {
    cursor: none !important; /* 强制不显示原有光标 */
  }
  /* 或者是稍微温和一点的版本，防止某些特殊情况无法选中文字 */
  /* body, a, button, input, textarea, select, [role="button"] {
    cursor: none !important;
  } 
  */
}




